<!DOCTYPE html>
<html>
<head>
    <title>User page</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <!-- Pass logged-in username to JavaScript -->
    <script>
        window.currentUser = "{{ username }}";
    </script>
</head>
<body>
    <h1>Welcome to my website!</h1>

    <h3>User Info</h3>
    Logged in as: <b>{{ username }}</b>
    <br><br>

    <form method="POST">
        <button type="submit" name="action" value="logout">Logout</button>
    </form>

    <hr>

    <h3>Private Chat</h3>

    <input id="receiver" type="text" placeholder="Send to username">
    <br><br>

    <input id="chat_input" type="text" placeholder="Your message">
    <button id="send-btn">Send</button>

    <hr>

    <div id="chat-display"></div>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
